#navbar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid grey;
  width: 20%;
  overflow-y: scroll;
  height: 730px;
}
#main-doc {
  color: #33001a;
  display: flex;
}

#main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

header {
  padding: 20px 0 10px 0;
}
#nav-link {
  border-bottom: 2px solid grey;
  padding-left: 5px;
  padding-right: 5px;
}

li:not(.nav-li) {
  padding-left: 50px;
  line-height: 23px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #4d4e53;
  font-size: 20px;
  list-style: inside;
}

header:not(#header-nav) {
  padding-left: 30px;
  font-size: 35px;
}

p {
  padding-left: 40px;
  padding-right: 60px;
  text-align: justify;
  font-size: 20px;
  color: #4d4e53;
}

#header-nav {
  border-bottom: 2px solid grey;
  font-size: 34px;
  text-align: center;
  padding-bottom: 30px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #4d4e53;
}

a:hover {
  color: black;
}

.nav-li {
  border-bottom: 1px solid grey;
  padding: 20px 0px 20px 10px;
  font-size: 20px;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 550px) {
  #navbar {
    width: 120px;
  }
}

* {
  font-family: "Open Sans", Arial, sans-serif;
}

code {
  display: block;
  white-space: pre-wrap;
  padding-left: 20px;
  padding-right: 80%;
  margin-left: 20px;
  background-color: #f7f7f7;
  font-size: 20px;
  line-height: 30px;
}

li::marker {
  color: black;
}

.types-list li {
  list-style: circle inside;
}
