
#navbar{
display: flex;
flex-direction: column;
border-right: 2px solid grey;
width:20%;
}
#main-doc{ color:#33001a;
display: flex;
}

#main-content{
  display:flex;
  flex-direction: column;
  width:80%;
}

header{

  padding: 20px 0 10px 0;
 
}
#nav-link{
    border-bottom: 2px solid grey;
    padding-left: 5px;
    padding-right: 5px;
}


li:not(.nav-li){
  padding-left:20px;
  line-height: 23px;
  padding-bottom: 10px;
}

header:not(#header-nav){
   padding-left: 30px;
    font-size: 25px;
}

p{
  padding-left: 15px;
  text-align: justify;
}

#header-nav{
  border-bottom: 2px solid grey;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited{
  color:black;
}

.nav-li{
   border-bottom: 1px solid grey;
   padding: 5px 0;
}

#nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media(max-width: 550px){
  #navbar{
width:120px;
  }
}

*{
  font-family: 'Open Sans', Arial, sans-serif;
}

code{
  font-style: italic;
  padding-left:20px;
  margin-left:20px;
  background-color:#f7f7f7;
}